<header>
  <img src="img/headers/header-guestbook.jpg" class="img-responsive header-img" alt="">
</header>

<div class="container guestbook">
  <section class="add-claim text-right">
    <!-- <button class="btn btn-primary new-claim-btn" data-toggle="modal" data-target="#submit-claim">
    <span class="fa fa-stack">
      <span class="fa-comment-o fa-stack-2x"></span>
      <span class="fa-plus fa-stack-1x"></span>
    </span>&nbsp;Ecrivez votre témoignage</button> -->
  </section>

  <section class="claims">
  </section>

  <section class="add-claim text-right">
    <!-- <button class="btn btn-primary new-claim-btn" data-toggle="modal" data-target="#submit-claim">
    <span class="fa fa-stack">
      <span class="fa-comment-o fa-stack-2x"></span>
      <span class="fa-plus fa-stack-1x"></span>
    </span>&nbsp;Ecrivez votre témoignage</button> -->
  </section>
</div>

<div class="modal fade" id="submit-claim" tabindex="-1" role="dialog" aria-labelledby="SubmitNewClaim" aria-hidden="true"></div>