<div class="container">
	<div class="row">
		<div class="col-xs-12  col-sm-4 col-md-4 col-lg-4">
			<address>
				<img src="img/logo-footer.png" class="img-responsive lazy" alt="Luca Marchesini">
				<span class='glyphicon glyphicon-envelope'></span>&nbsp;<a href="mailto:contact@luca-marchesini.com">contact@luca-marchesini.com</a><br/>
				<span class='glyphicon glyphicon-earphone'></span>&nbsp;<a href="tel:+33633596151">+33 (0) 6 33 59 61 51</a>
			</address>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 col-lg-offset-2">
			<h3>Plan du site</h3>
			<ul class="list-unstyled">
				<li><a href="#teaser">Video Teaser</a></li>
				<li><a href="#calendar">Agenda</a></li>
				<li><a href="#shows">Spectacles</a></li>
			</ul>
		</div>
	</div>
</div>
