<header>
	<img src="img/headers/header-home-bg.jpg" class="img-responsive header-img " alt="">
	<div class="jumbofon row">
		<div class="col-lg-6 col-md-7 col-sm-8 col-xs-12">
			<h1>Messieurs dames, souriez!</h1>
			<img src="img/logo-header.png" alt="" class="brand img-responsive">
			<h1>va vous raconter une histoire!</h1>
		</div>
	</div>
</header>

<div class="container">
	
	<a name='teaser'></a>

	<section class="teaser">
		
		<div class="row">
			<div class="col-md-4 col-xs-12">
				<p class="lead">Luca Marchesini est un conteur franco-italo-hispano-phone installé à Montpellier depuis 2009. Sa parole est inventive, voyageuse et riche en vitamines. Ça vous intrigue? Voici un petit extrait!</p>
				<br/>
				
			</div>
			<div class="col-md-7 col-md-offset-1 col-xs-12 text-center">
				<div class='embed-container'>
					<iframe src='http://www.youtube.com/embed/3YRq8KrZUGo' frameborder='0' allowfullscreen></iframe>
				</div>
				<div class="guestbook-picks"></div>
			</div>
		</div>
	</section> 

	<!-- <a name='calendar'></a> -->
	<hr>

	<section class="calendar">
	<h1>Les prochaines dates</h1>
	<div class="table-responsive">
	</div>

	<div class="home-calendar-btns">
		<a class="btn btn-primary see-full-calendar-btn" href="#calendar">
		<span class="icon-calendar"></span>
		&nbsp;Toutes les dates
	</a>
	</div>

	</section> 

	<a name='shows'></a>
	<hr>

	<section class="shows">
		<h1>Les pestacles</h1>
		<div class="row">
			<div class="show col-lg-4 col-md-4 col-md-offset-0 col-sm-5 col-sm-offset-1 col-xs-12">
				<img class="img-responsive img-circle" src="img/show-sorcieres.jpg" alt="La Danse des Sorcières">
				<h2>La Danse des Sorcières</h2>
				<span class="label label-success" title="Jeune public à partir de 4 ans">Jeune public à partir de 4 ans</span>&nbsp;<span class="label label-warning" title="Public familial">Familial</span>
				<p>Histoires de sorcières et êtres surnaturels d'Italie et d'Espagne.</p>
				<div class="btn btn-primary">En savoir plus &raquo;</div>
			</div>
			<div class="show col-lg-4 col-md-4 col-sm-5  ol-xs-12">
				<img class="img-responsive img-circle" src="img/show-marsala.jpg" alt="Ma Mer et Moi">
				<h2>Ma Mer et Moi <small>(autrement dit "La Mar Salà")</small></h2>
				<span class="label label-info" title="Public adulte">Adultes</span>
				<p>Contes traditionnels et sous-marins dans la Méditerranée qui entoure l'Italie.</p>
				<div class="btn btn-primary">En savoir plus &raquo;</div>
			</div>
			<div class="show col-lg-4 col-md-4 col-md-offset-0 col-sm-5 col-sm-offset-1 col-xs-12">
				<img class="img-responsive img-circle" src="img/show-europe.jpg" alt="Le Voyage en Europe">
				<h2>Le Voyage en Europe</h2>
				<span class="label label-success" title="Jeune public de 4 à 8 ans">Jeune public 4-8 ans</span>
				<p>Contes traditionnels Européens dans un cadre adapté au jeune public.</p>
				<div class="btn btn-primary">En savoir plus &raquo;</div>
			</div>
			<div class="show col-lg-4 col-md-4 col-sm-5  col-xs-12">
				<img class="img-responsive img-circle" src="img/show-abrazos.jpg" alt="spectacle"> 
				<h2>Abrazos</h2>
				<span class="label label-info" title="Public adulte">Adultes</span>
				<p>Récits de vie surprenants et émouvants collectés auprès de personnes comme toi et moi (ou l'autre).</p>
				<div class="btn btn-primary">En savoir plus &raquo;</div>
			</div>
			<div class="show col-lg-4 col-md-4 col-md-offset-0 col-sm-5 col-sm-offset-1 col-xs-12">
				<img class="img-responsive img-circle" src="img/show-talaya.jpg" alt="spectacle">
				<h2>Le Rêve de Talaya</h2>
				<span class="label label-info" title="Public adulte">Adultes</span>
				<p>Contes traditionnels d'Andalousie collectés sur la province de Grenade par les ethnologues de l'association La Tortuga.</p>
				<div class="btn btn-primary">En savoir plus &raquo;</div>
			</div>
			<div class="show col-lg-4 col-md-4 col-sm-5 col-xs-12">
				<img class="img-responsive img-circle" src="img/show-lucavidesonsac.jpg" alt="spectacle">
				<h2>Histoires Tirées du Sac</h2>
				<span class="label label-warning" title="Public familial">Familial</span>
				<p>Spectacle mutant et auto-adaptant en fonction du public, du cadre et des conditions météo.</p>
				<div class="btn btn-primary">En savoir plus &raquo;</div>
			</div>
		</div>
	 
	</section> 

</div> <!-- /container -->

<script type="text/template" id="t-calendar">
			<thead>
				<tr>
					<th>Date</th>
					<th>Spectacle</th>
					<th>Lieu</th>
				</tr>
			</thead>
			<tbody></tbody>
</script>

<script type="text/template" id="t-calendar-gig">
		<td>{{formattedDate date}}</td>
		<td>{{title}}</td>
		<td>{{location}}</td>
</script>

<script type="text/template" id="t-calendar-empty"><td colspan="3">Aucune date prévue.</td></script>

<script type="text/template" id="t-show">
	<img class="img-responsive img-circle" src="img/show-{{name}}.jpg" alt="{{title}}">
	<h2>{{title}}</h2>
	{{#if_eq audience compare='family'}}
		<span class="label label-warning" title="Public familial">Familial</span>
	{{/if_eq}}

	{{#if_eq audience compare='young'}}
		<span class="label label-success" title="Jeune public de {{first age}} à {{last age}} ans">Jeune public {{first age}}-{{last age}} ans</span>
	{{/if_eq}}

	{{#if_eq audience compare='adult'}}
		<span class="label label-info" title="Public adulte">Adultes</span>
	{{/if_eq}}
	<p>{{{shortDesc}}}</p>
	<a href="#show/{{name}}" class="btn btn-primary">En savoir plus &raquo;</a>
</script>

<script type="text/template" id="t-claim">
		<h1 class="claim-txt"><em>"{{txt}}"</em></h1>
		<p class="claim-author">{{author}}</p>
		<p class="claim-organization">{{position}} - {{location}}</p>
</script>

