<header>
  <img src="img/headers/header-{{name}}.jpg" class="img-responsive header-img " alt="">
</header>

<div class="container">

  <section class="intro">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 col-xs-12">
        <p class="lead">{{{artIntro}}}</p>
        <br/>

      </div>
      <div class="col-md-7 col-md-offset-1 col-xs-12 text-center">
        <!-- <img class="img-responsive" src="img/extrait-sorcieres.png" alt=""> -->
      </div>
    </div>
  </section> 

  <hr>

  <section class="description">
    <h1>Description</h1>
    <p>{{{longDesc}}}</p>
  </section>

  <div class="row">
    <div class="col-lg-6">
      <section class="info">
        <h1>Informations</h1>
        <dl>
          <dt>Tranche d'âge:</dt><dd>
            {{#if_eq audience compare='family'}}
              public familial à partir de {{age}} ans.
            {{/if_eq}}

            {{#if_eq audience compare='young'}}
              jeune public de {{first age}} à {{last age}} ans.
            {{/if_eq}}

            {{#if_eq audience compare='adult'}}
              public adulte.
            {{/if_eq}}
          </dd>
          <dt>Durée:</dt><dd> approximativement {{duration}} minutes (ça peut varier en fonction du niveau d'attention du public).</dd>
        </dl>
        <a href="/docs/tech-{{name}}.pdf" target="_blank" class="btn btn-primary"><span class="glyphicon glyphicon-file"></span> Télécharger la Fiche Technique</a>
        <a class="btn btn-info contact-btn" role="button">Contact</a></div>
      </section>
    <div class="col-lg-6">
      <section class="calendar-show">
        <h1>Prochaines dates pour ce spectacle</h1>
        <div class="table table-responsive"></div>
      </section>
    </div>
  </div>
</div>

<script type="text/template" id="t-calendar-show">
  <thead>
    <tr>
      <th>Date</th>
      <th>Lieu</th>
      <th>Prix</th>
    </tr>
  </thead>
  <tbody></tbody>
</script>

<script type="text/template" id="t-calendar-gig-show">
  <td>{{formattedDate date}}</td>
  <td>{{location}}</td>
  <td>{{parentEvent}}</td>
</script>