<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h4 class="modal-title" id="myModalLabel">Date de représentation</h4>
		</div>
		<div class="modal-body">
			{{#if showName}}<a class="show-name-a" href="#show/{{showName}}" title="Aller à la fiche spectacle">{{/if}}
			<h1><span class="icon-star"></span> {{title}}</h1>
			{{#if showName}}</a>{{/if}}
			{{#unless address }}
                <div class="hidden-address">
                <div class="hidden-address-message">L'adresse où se passe cette représentation ne peut pas être publiée sur internet. Veuillez contacter l'organisation pour plus de renseignements (contact en bas).</div> </div>
            {{else}}
            	<div class="gig-map"> </div>
            {{/unless}}
			<div>
				<table class="gig-data">
					<tr>
						<td>
							<dl>
								<i class="icon-calendar pull-left fa-2x fa-fw"></i><dt>Date</dt><dd>{{formattedDate date}}</dd>
								{{#if time}}<i class="icon-clock pull-left fa-2x fa-fw"></i><dt>Heure</dt><dd>{{formattedTime time}}</dd>{{/if}}
								{{#if price}}<i class="icon-money pull-left fa-2x fa-fw"></i><dt>Prix</dt><dd>{{price}}</dd>{{/if}}
							</dl>
						</td>
						<td>
							<dl>
								{{#if venue}}<i class="icon-home pull-left fa-2x fa-fw"></i><dt>Lieu</dt><dd>{{venue}}</dd>{{/if}}
								{{#if location}}<i class="icon-location pull-left fa-2x fa-fw"></i><dt>Adresse</dt><dd>{{#if address}}<a href="https://www.google.com/maps/place/{{address}}/@{{lat}},{{lng}},{{z}}z" title="Ouvrir l'adresse dans Google Maps" target="_blank">{{/if}}{{location}}{{#if address}}</a>{{/if}}
                                </dd>{{/if}}
								{{#if parentEvent}}<i class="icon-flag pull-left fa-2x fa-fw"></i><dt>Cadre</dt><dd>{{#if parentEventUrl}}<a href="{{parentEventUrl}}" target="_blank">{{/if}}{{parentEvent}}{{#if parentEventUrl}}</a>{{/if}}</dd>{{/if}}
							</dl>
						</td>
					</tr>
				</table>
			</div>
			{{#or bookingMail bookingPhone}}<i class="icon-tags pull-left fa-2x"></i><dt>Réservations et informations</dt><dd>
                {{#if bookingMail}}
                    <a href="mailto:{{bookingMail}}">{{bookingMail}}</a>
                {{/if}} 
                {{#and bookingMail bookingPhone}} - {{/and}} 
                {{#if bookingPhone}}
                    <a href="tel:{{bookingPhone}}">{{bookingPhone}}</a>
                {{/if}}
            </dd>	
            {{/or}}
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
		</div>
	</div>
</div>