<header>
	<img src="img/headers/header-home-bg.jpg" class="img-responsive header-img " alt="">
	<div class="jumbofon row">
		<div class="col-lg-6 col-md-7 col-sm-8 col-xs-12">
			<h1>Messieurs dames, souriez!</h1>
			<img src="img/logo-header.png" alt="" class="brand img-responsive">
			<h1>va vous raconter une histoire!</h1>
		</div>
	</div>
</header>

<div class="container">
	
	<a name='teaser'></a>

	<section class="teaser">
		
		<div class="row">
			<div class="col-md-4 col-xs-12">
				<p class="lead">Luca Marchesini est un conteur franco-italo-hispano-phone installé à Montpellier depuis 2009. Sa parole est inventive, voyageuse et riche en vitamines. Ça vous intrigue? Voici un petit extrait!</p>
				<br/>
				
			</div>
			<div class="col-md-7 col-md-offset-1 col-xs-12 text-center">
				<div class='embed-container'>
					<iframe src='http://www.youtube.com/embed/taLPgu72eic' frameborder='0' allowfullscreen></iframe>
				</div>
				<div class="video-credits">Crédits Vidéo &copy; Marion Chataing</div>
				<div class="guestbook-picks"></div>
			</div>
		</div>
	</section> 

	<hr>

	<section class="calendar">
	<h1>Les prochaines dates</h1>
	<div class="table-responsive">
	</div>

	<div class="home-calendar-btns">
		<a class="btn btn-primary see-full-calendar-btn" href="#calendar">
		<span class="icon-calendar"></span>
		&nbsp;Toutes les dates
	</a>
	</div>

	</section> 

	<a name='shows'></a>
	<hr>

	<section class="shows">
		<h1>Les pestacles</h1>
		<div class="row">
		</div>
	 
	</section> 

</div> <!-- /container -->