// Colors
// ====================================

$color_white: #ededed;
$color_black: rgb(33, 37, 41);
$color_grey: #777;
$color_darkgrey: #545454;
$color_lightgrey: #f2f4f5;
$color_indigo: #2a6496;
