<img class="img-responsive img-circle" src="img/show-{{name}}.jpg" alt="{{title}}">
<h2>{{title}}</h2>
{{#if_eq audience compare='family'}}
	<span class="label label-warning" title="Public familial">Familial</span>
{{/if_eq}}

{{#if_eq audience compare='young'}}
	<span class="label label-success" title="Jeune public de {{first age}} à {{last age}} ans">Jeune public {{first age}}-{{last age}} ans</span>
{{/if_eq}}

{{#if_eq audience compare='adult'}}
	<span class="label label-info" title="Public adulte">Adultes</span>
{{/if_eq}}
<p>{{{shortDesc}}}</p>
<a href="#show/{{name}}" class="btn btn-primary learn-more">En savoir plus &raquo;</a>